@{
    ViewBag.Title = "Email Confirmation";
}
<section id="form-details" class="section-p1">
    <h2>Email Confirmation</h2>
    <p>@ViewBag.Message</p>
    <a href="@Url.Action("Login", "User")">Go to Login</a>
</section>
