@model IEnumerable<E_Commerce_Web.Models.Product>

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/Sections/Menu/_VerticalMenu.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @if (Session["EmployeeID"] != null)
    {
        <p>Welcome, Employee #@Session["EmployeeID"]</p>
    }
    else
    {
        <p>You are not logged in.</p>
    }
</body>
</html>
