<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.9.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="E_Commerce_Web" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="false" />
	<add key="SMTPHost" value="smtp.gmail.com" />
	<add key="SMTPPort" value="587" />
	<add key="SMTPUser" value="minh.mgia@gmail.com" />
	<add key="SMTPPassword" value="jcraacqtcsixhfmy" />
	  
	<add key="Momo:PartnerCode" value="MOMOBKUN20180529" />
	<add key="Momo:ReturnUrl" value="https://localhost:61377/api/payment/momo-return" />
	<add key="Momo:PaymentUrl" value="https://test-payment.momo.vn/v2/gateway/api/create" />
	<add key="Momo:IpnUrl" value="https://localhost:61377/payment/api/momo-ipn" />
	<add key="Momo:AccessKey" value="klm05TvNBzhg7h7j" />
	<add key="Momo:SecretKey" value="at67qH6mk8w5Y1nAyMoYKMWACiEi2bsa" />
	  
	<add key="Vnpay:TmnCode" value="NJJ0R8FS" />
	<add key="Vnpay:HashSecret" value="BYKJBHPPZKQMKBIBGGXIYKWYFAYSJXCW" />
	<add key="Vnpay:BaseUrl" value="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html" />
	<add key="Vnpay:Command" value="pay" />
	<add key="Vnpay:CurrCode" value="VND" />
	<add key="Vnpay:Version" value="2.1.0" />
	<add key="Vnpay:Locale" value="vn" />
	<add key="Vnpay:PaymentBackReturnUrl" value="http://localhost:5172/Checkout/PaymentCallbackVnpay" />

	<add key="TimeZoneId" value="SE Asia Standard Time" />
  </appSettings>

  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>

  <system.web>
    <compilation>
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.9.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>
