@{
    ViewBag.Title = "Error";
}

<section id="error-page" class="section-p1">
    <h1>Oops!</h1>
    <h2>Something went wrong</h2>
    <p>The page you're looking for doesn't exist or another error occurred.</p>
    <a href="@Url.Action("Index", "Home")" class="normal">Go to Homepage</a>
</section>
